<!--(3-d) create a separate folder named partials for all partial EJS files. make several partials including header.ejs, content.ejs, footer.ejs etc.-->
<!--
COMP229-001 Assignment1
index.ejs
Seo Woo Jang
301104016
Oct 08 2022
-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <main class="container">
    <%- include partials/contents.ejs %>
  </main>

  <%- include partials/bottom_nav.ejs %>

  <%- include partials/footer.ejs %>